*{
margin: 0;
padding: 0;
box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://img.freepik.com/fotos-gratis/caneta-bloco-de-notas-e-calculadora_140725-23287.jpg);
}

h1 {
    position: absolute;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    position: relative;
}


#btnToggleHistory {
    position: absolute;
    display: flex;
    background-color: #000000;
    color: #ff6200;
    border: 2px solid;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#history {
    position: absolute;
    background-color: #000000;
    color: #ff6200;
    border: 1px solid rgba(255, 136, 0, 0.905);
    padding: 20px;
    list-style: none;
    border-radius: 10px;
    margin-top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;

}

.calculator {
    background-color: #00000061;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.display {
    width: 240px;
    height: 40px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 3px solid #ff6200;
    background-color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button,
.button-c {
    font-size: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #d0d0d0;
}

.button:active {
    background-color: #bbb;
}

.button-c {
    background-color: orange;
}

@media (max-width: 1024px) {
    h1 {
        top: 50px;
        transform: translate(50%, 50%);
    }

    #btnToggleHistory {
        position: absolute;
        display: flex;
        background-color: #000000;
        color: #ff6200;
        border: 2px solid;
        cursor: pointer;
        border-radius: 10px;
        padding: 20px 20px;
        margin: auto;
        left: 50%;
    }

    #history {
        position: absolute;
        background-color: #000000;
        color: #ff6200;
        border: 1px solid rgba(255, 136, 0, 0.905);
        padding: 20px;
        list-style: none;
        margin-top: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;

    }

}